{% extends 'partials/base.html.twig' %} 
{% block content %}
<div class="section {{ page.header.slug }}">
    <div class="wrapper">
        <div class="main-image">
            <img src="images/{{ page.header.cover|first.name }}">
        </div>
        <p class="ayui-logo">
        	<a href="{{ page.header.labelUrl }}" target="_blank" title="Ayuí">
                <img style="height:33px;" src="images/{{ page.header.label|first.name }}">
        	</a>
        </p>
        <ol class="track-list">
					{% for track in page.header.tracklist %}
                    <li><span class="track-number">{{ track.number }}</span><span class="name">{{ track.name }}</span><span class="duration">{{ track.minutes }}:{{ track.seconds }}</span></li>
                    {% endfor %}
                    </ol>
        <div class="content">
            {{ page.content }}
        </div>
    </div>
</div>
{% endblock %}